.vscode
assignment1/*
!assignment1/*.cf
!assignment1/*.md
!assignment1/*.sh
assignment2/*
!assignment2/*.cf
!assignment2/*.md
!assignment2/*.sh
!assignment2/TypeChecker.hs
!assignment2/Main.hs
assignment3/*
!assignment3/*.cf
!assignment3/*.md
!assignment3/*.sh
!assignment3/TypeChecker.hs
!assignment3/Interpreter.hs
!assignment3/Main.hs
assignment4/**
!assignment4/Makefile
!assignment4/CPP.cf
!assignment4/CodeGen.hs
!assignemnt4/TypeChecker.hs
!assignment4/Main.hs
!assignment4/build.sh
!assignment4/README.md
